server:
  port: 7030
eureka:
  client:
    service-url:
      defaultZone: http://qa:7000/eureka/
spring:
  profiles:
    include: git
  cloud:
    config:
      uri: http://localhost:8888
      profile: qa
